<ion-content fullscreen padding scroll-y="false">
  <ion-slides>
    <ion-slide>
      <img src="/assets/icon-dev-5.svg" />
      <h2><b>Motion in UX Design</b></h2>
      <p>
          Diseño basado en movimiento
      </p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/icon-bus-4.svg" />
      <h2>Motion</h2>
      <p>El movimiento impulsa toda la interfaz de usuario.</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/icon-bus-5.svg" />
      <h2>Interaction</h2>
      <p>Para cada clic en el botón y la transición de la pantalla</p>
    </ion-slide>

    <ion-slide>
      <img src="/assets/icon-dev-3.svg" />
      <h2>Ready to Play?</h2>
      <p>
          Hay una historia que sigue y un buen diseño basado en movimiento le ayuda a contarla
      </p>
      <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>