<ion-header>
  <ion-toolbar>
    <ion-title>
      Animation CSS and SVG
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/icon-bus-3.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Animation con Css</ion-card-subtitle>
      <ion-card-title>Welcome to Motion in UX Design</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Grupo de Conocimiento de Experienia de Usuario</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <img src="/assets/icon-bus-4.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Animation con Css</ion-card-subtitle>
      <ion-card-title>Welcome to Motion in UX Design</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Grupo de Conocimiento de Experienia de Usuario</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <img src="/assets/icon-bus-5.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Animation con Css</ion-card-subtitle>
      <ion-card-title>Welcome to Motion in UX Design</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Grupo de Conocimiento de Experienia de Usuario</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <img src="/assets/icon-dev-3.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Animation con Css</ion-card-subtitle>
      <ion-card-title>Welcome to Motion in UX Design</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Grupo de Conocimiento de Experienia de Usuario</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <img src="/assets/icon-dev-4.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Animation con Css</ion-card-subtitle>
      <ion-card-title>Welcome to Motion in UX Design</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Grupo de Conocimiento de Experienia de Usuario</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <img src="/assets/icon-dev-5.svg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Animation con Css</ion-card-subtitle>
      <ion-card-title>Welcome to Motion in UX Design</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Grupo de Conocimiento de Experienia de Usuario</p>
    </ion-card-content>
  </ion-card>
</ion-content>
