<ion-header>
  <ion-toolbar>
    <ion-title>
      Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/motion.JPG" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Motion in UX Design</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Grupo de Conocimiento de Experienia de Usuario</p>
      </ion-card-content>
    </ion-card>
</ion-content>
